.adv {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  padding: 20px;
}

.shoes ,.house {
    width: 49%;
    height: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
